<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microsoft.mapper.ClazzMapper">
    <!-- 条件查询班级列表 -->
    <select id="list" resultType="com.microsoft.pojo.Clazz">
        select c.id, c.name, c.room, c.begin_date, c.end_date, c.master_id, c.create_time, c.update_time, e.name as masterName
        from clazz c left join emp e on c.master_id = e.id
        <where>
            <if test="name != null and name != ''">
                c.name like concat('%', #{name}, '%')
            </if>
            <if test="begin != null and end != null">
                and c.end_date between #{begin} and #{end}
            </if>
        </where>
        order by c.update_time desc
    </select>
    <!-- 添加班级 -->
    <insert id="insert">
        insert into clazz (name, room, begin_date, end_date, master_id, subject, create_time, update_time)
        VALUES (#{name}, #{room}, #{beginDate}, #{endDate}, #{masterId}, #{subject}, #{createTime}, #{updateTime})
    </insert>
    <!--根据ID查询班级信息-->
    <select id="getById" resultType="com.microsoft.pojo.Clazz">
        select id, name, room, begin_date, end_date, master_id, subject, create_time, update_time from clazz where id = #{id}
    </select>
    <!--更改班级信息-->
    <update id="update">
        update clazz
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="room != null and room != ''">room = #{room},</if>
            <if test="beginDate != null">begin_date = #{beginDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="masterId != null">master_id = #{masterId},</if>
            <if test="subject != null">subject = #{subject},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>
    <!--根据班级id查询对应班级有多少名学生-->
    <select id="countStudentInClazz" resultType="java.lang.Integer">
        select count(*) from student where clazz_id = #{id}
    </select>
    <!--根据id删除班级-->
    <delete id="delete">
        delete from clazz where id = #{id}
    </delete>
    <!--查询所有班级-->
    <select id="getAllClazz" resultType="com.microsoft.pojo.Clazz">
        select id, name, room, begin_date, end_date, master_id, subject, create_time, update_time from clazz
    </select>
    <!--根据班主任id查询班级-->
    <select id="getByMasterId" resultType="java.lang.Integer">
        select count(*) from clazz where master_id = #{masterId}
    </select>
</mapper>